# Environment
.env

# Python cache
__pycache__/
*.pyc

# Logs
logs/

# Database
data/

# IDE files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Mac / Windows
.DS_Store
Thumbs.db

# Pytest / Mypy
.pytest_cache/
.mypy_cache/

# Virtual environments
venv/
