services:
  app:
    build: .
    image: hrbot:latest
    container_name: hrbot
    volumes:
      - ./data:/app/data
      - ./logs:/app/logs
    env_file:
      - ./.env
    restart: unless-stopped
